@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQs</title>
    <script src="https://kit.fontawesome.com/c272487ffe.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   

</head>

<body>
    <h2 style="text-align: center;">FAQs</h2>
    <div class="list-group w-100" style="margin: 50px;">
        <a href="#shortExampleAnswer1collapse" data-mdb-toggle="collapse" aria-expanded="false"
           aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">What Services are SecGuards Providing?</h5>
            </div>
            <p class="mb-1">
                SecGuards Pro is providing Armed Security, Unarmed security, Airport Protocol, Commercial Security,
                Event Security and Executive Protection.
            </p>
        </a>
        <a href="#shortExampleAnswer2collapse" data-mdb-toggle="collapse" aria-expanded="false"
           aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Where SecGuards Pro is located?</h5>
            </div>
            <p class="mb-1">
                SecGuards Pro is located in Sialkot (51310), Punjab, Pakistan.
            </p>
        </a>
        <a href="#shortExampleAnswer3collapse" data-mdb-toggle="collapse" aria-expanded="false"
           aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Is SecGuards Pro offering theirservices outside Sialkot.</h5>
            </div>
            <p class="mb-1">
                Yes, SecGuards Pro is providing custom Security in different cities.
            </p>
        </a>
        <a href="#shortExampleAnswer3collapse" data-mdb-toggle="collapse" aria-expanded="false"
           aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Is SecGuards Pro providing emergency services</h5>
            </div>
            <p class="mb-1">
                Yes, SecGuards Pro is providing emergency services.
            </p>
        </a>
        <a href="#shortExampleAnswer3collapse" data-mdb-toggle="collapse" aria-expanded="false"
           aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Is it necessary to register?</h5>
            </div>
            <p class="mb-1">
                Yes, It's necessary
            </p>
        </a>
    </div>
</body>